@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: #f4d04e;
  --white: #ffffff;
  --gray-500: #6b6b6b;
  --gray-950: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  color: var(--gray-950);
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.card {
  background-color: var(--white);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 24rem;
  border-radius: 15px;
  border: var(--gray-950) solid 1px;
  box-shadow: 8px 8px 1px var(--gray-950);
}

#banner-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.category {
  font-weight: 800;
  font-size: 0.875rem;
  background-color: var(--yellow);
  color: var(--gray-950);
  margin-top: 1rem;
  width: 5.5rem;
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.3125rem;
}

.date {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray-950);
  padding: 0.75rem 0;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--gray-950);
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.info {
  font-weight: 500;
  font-size: 1rem;
  color: var(--gray-500);
  padding: 1rem 0;
}

.author {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

#author-img {
  width: 2rem;
}

.author-name {
  font-weight: 800;
  font-size: 0.875rem;
  padding-left: 0.75rem;
}

@media screen and (max-width: 767px) {
  .card {
    width: 21rem;
  }

  .card-img {
    height: 12rem;
    overflow: hidden;
  }

  #banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .title {
    font-size: 1.25rem;
  }

  .info {
    font-size: 0.9rem;
  }
}
